* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
}

nav {
    width: 18%;
    height: 100vh;
    border: 1px solid silver;
}

ul {
    padding: 5px;
    list-style: none;
}

li {
    padding: 5px;
}

a {
    width: 100%;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

a:hover {
    cursor: pointer;
}